.App {
  text-align: center;

  display: flex;
}


.output-div {
  white-space: pre;
  text-align: left;
  flex: 1;
}

.inputs-div {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 10%;
}

.submit-button {
  width: 30%;
}

.number-div {

  width: 30%;
  margin-top: 100px;
  margin-bottom: 100px;
}