.App {
  text-align: center;

  display: flex;
}


.output-div {

  flex: 1;
}

.inputs-div {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.submit-button {
  width: 30%;
}

.number-div {

  width: 30%;
  margin-top: 100px;
  margin-bottom: 100px;
}